<div class="dialog">
    <div class="dialog-header">
      <h1>User Dialog</h1>
    </div>

    <div class="dialog-container"> 
        <div class="row">
           <div class="col-lg-12">
              <div class="form-box">
                 <form [formGroup]="formdata" *ngIf="formdata" novalidate> 
                    <div class="form-group">
                       <label for="name">Name*</label>
                       <input type="text" class="form-control" id="name" name="name" placeholder="name" formControlName="name">
                       <div *ngIf="formdata.controls['name'].invalid && (formdata.controls['name'].dirty || formdata.controls['name'].touched)" class="alert">
                        <div *ngIf="formdata.controls['name'].errors">
                        Name is required and must be at least 3 characters long.
                      </div>
                    </div>
                     </div>
                     <div class="form-group mt-3">
                       <label for="lastname">Lastname*</label>
                       <input type="text" class="form-control" id="lastname" name="lastname" placeholder="lastname" formControlName="lastname">
                       <div *ngIf="formdata.controls['lastname'].invalid && (formdata.controls['lastname'].dirty || formdata.controls['lastname'].touched)" class="alert">
                           <div *ngIf="formdata.controls['lastname'].errors">
                              Lastname is required and must be at least 3 characters long.
                           </div>
                        </div>
                     </div>
                     <div class="form-group mt-3">
                       <label for="email">Email*</label>
                       <input type="email" class="form-control" id="email" name="email" placeholder="email" formControlName="email">
                       <div *ngIf="formdata.controls['email'].invalid && (formdata.controls['email'].dirty || formdata.controls['email'].touched)" class="alert">
                           <div *ngIf="formdata.controls['email'].errors">
                              Email not valid
                           </div>
                        </div>
                     </div>
           
                     <div class="form-group mt-3">
                       <label for="group">Group*</label>
                       <select class="form-control" id="group" name="group" placeholder="group" formControlName="group"
                        multiple aria-label="multiple select">
                          <option *ngFor="let item of data.groups" [value]="item.id">{{item.name}}</option>
                       </select>
                     </div>
           
                     <div class="button-group row">
                        <div class="col-lg-8"></div>
                        <div class="col-lg-4">
                           <button mat-button class="btn white-button" (click)="onNoClick()">Close</button>

                           <button type="submit" class="btn blue-1-button ml-3" [disabled]="!formdata.valid" (click)="submitForm()">Save</button>
                        </div>
                     </div>

                 </form>
              </div>
           </div>
        </div>


</div>
