<header class="toolbar" role="header">
  <div class="row width-100">
    <div class="col-lg-9">
      <span class="active-link cursor-pointer" routerLink="/">User Management</span>
    </div>
    <div class="col-lg-3">
      <nav class="mt-2">
        <a routerLink="users" [routerLinkActive]="['active']">Users</a>
        <a routerLink="groups" [routerLinkActive]="['active']">Groups</a>
      </nav>
    </div>
  </div>
</header>

<main class="content" role="main" id="screen">
  <app-users *ngIf="router.url === '/'"></app-users>
  <router-outlet></router-outlet>

</main>


